* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #15b0f8; /* Alterar a cor de fundo para #15b0f8 */
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden; /* Desabilitar barra de rolagem */
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px; 
}

header {
    background-color: #ffffff;
    color: #15b0f8;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.icone {
    margin-bottom: 20px; /* Adicionar margem inferior para aumentar a distância da info_tutor */
    padding: 10px; /* Adicionar padding para distanciar da borda */
}

.info_tutor {
    display: flex;
    justify-content: center; /* Centralizar o conteúdo horizontalmente */
    align-items: flex-start;
    margin: 70px 20px 20px 20px;
    flex-wrap: wrap; /* Permitir quebra para telas menores */
    color: #ffffff;
}

.info_tutor .box {
    font-size: 18px; /* Aumentar o tamanho da fonte */
    line-height: 1.5; /* Ajustar o espaçamento entre linhas para melhor legibilidade */
}

.box {
    width: 45%; /* Ajustar largura para caber ao lado do carrossel */
    margin-bottom: 20px; /* Adicionar margem para espaçamento em telas menores */
}

.carousel {
    position: relative;
    width: 800px; /* Aumentando a largura para 800 pixels */
    max-width: 750px; /* Aumentando a largura máxima para 800 pixels */
    margin-left: 20px; /* Ajustar margem para espaçamento */
    margin-top: -135px; /* Subir o carrossel ajustando a margem superior */
    overflow: hidden;
    border-radius: 25px;
}


.carousel img {
    width: 100%;
    height: 600px; /* Altura reduzida para todas as imagens */
    object-fit: cover; /* Garantir que as imagens cubram a área sem distorção */
    display: none;
}

.carousel img.active {
    display: block;
}

.carousel .prev, .carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel .prev {
    left: 10px;
}

.carousel .next {
    right: 10px;
}


.patas {
    width: 6%; /* Ajuste o tamanho desejado */
    height: auto; /* Mantém a proporção da imagem */
}
